<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Factory</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>

</head>
<body>

    <div id="titulo">
        <div id="texto_blabla">
            <h1 style="margin: 0;">Dashboard virtual: Monitoramento de dados</h1>
            <div id='dxm' style="padding: 1vh; color: green;"> Analizando ... </div>
        </div>
    </div>

    <div class="painel-home">

        <!-- CNC -->
        <div class="maquina" id="cncBox">
            <img src="{{ url_for('static', filename='images/k100_verde.png') }}" class="img-maquina cnc-img ativo" data-status="normal">
            <img src="{{ url_for('static', filename='images/k100_verm.png') }}" class="img-maquina cnc-img" data-status="alerta">
        </div>

        <!-- Estufa -->
        <div class="maquina" id="estufaBox">
            <img src="{{ url_for('static', filename='images/k100_verde.png') }}" class="img-maquina estufa-img ativo" data-status="normal">
            <img src="{{ url_for('static', filename='images/k100_verm.png') }}" class="img-maquina estufa-img" data-status="alerta">
        </div>

        <!-- Tanque -->
        <div class="maquina" id="tanqueBox">
            <img src="{{ url_for('static', filename='images/k100_verde.png') }}" class="img-maquina tanque-img ativo" data-status="normal">
            <img src="{{ url_for('static', filename='images/k100_verm.png') }}" class="img-maquina tanque-img" data-status="alerta">
        </div>

    </div>


    <button class="button_p" id="botao-principal" onclick="mostrarPainel()">
        Abrir Painel
    </button>

    <div id="painel">
        <div class="coluna">
            <form action="{{url_for('cnc')}}">
                <button class="button_p" id="cnc" type="submit" >CNC machine</button>
            </form>

            <a href="/alertas/cnc"><button class="button_p" id="cnc_alert">Alarmes</button></a>

        </div>

        <div class="coluna">
            <form action="{{url_for('estufa')}}">
                <button class="button_p" id="estufa" type="submit">Estufa</button>
            </form>
            <a href="/alertas/estufa"><button class="button_p" id="estufa_alert">Alarmes</button></a>
        </div>

        <div class="coluna">
            <form action="{{url_for('agua')}}">
                <button class="button_p" id="water" type="submit">Tanque de agua</button>
            </form>
            <a href="/alertas/tanque"><button class="button_p" id="agua_alert">Alarmes</button></a>
        </div>
    </div>

    <script>

        function atualizarStatus(maquina, status) {

            const imagens = document.querySelectorAll(`#${maquina}Box .img-maquina`);

            imagens.forEach(img => {
                img.classList.remove("ativo");
                if (img.dataset.status === status) {
                    img.classList.add("ativo");
                }
            });
        }

        function mostrarPainel() {
            const painel = document.getElementById("painel");
            const botao = document.getElementById("botao-principal");

            const estaAtivo = painel.classList.contains("ativo");

            if (estaAtivo) {
                painel.classList.remove("ativo");
                botao.innerText = "Mostrar Painel";
            } else {
                painel.classList.add("ativo");
                botao.innerText = "Esconder Painel";
            }
        }
        

        document.addEventListener("DOMContentLoaded", () => {
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/');
            socket.on('sensor_data', function(data) {
                 const texto = document.getElementById('dxm');
                 texto.textContent = data.dxm;
                 if (data.dxm == 'DXM está offline :('){
                    texto.style.setProperty('color', 'red');
                 }
            });
        });

        function verificarStatus() {

            fetch("/api/status_maquinas")
                .then(res => res.json())
                .then(data => {

                    atualizarStatus("cnc", data.cnc);
                    atualizarStatus("estufa", data.estufa);
                    atualizarStatus("tanque", data.tanque);

                });
        }

        setInterval(verificarStatus, 5000);
        verificarStatus();

    </script>

</body>
</html>
